# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# Data files (optional if mam allows)
data/raw/
data/processed/
