# Data Manipulation & Math
pandas
numpy

# Machine Learning
scikit-learn
xgboost

# Geospatial Analysis
folium
osmnx
geopandas
shapely
requests

# Visualization & Dashboard
streamlit
plotly
matplotlib
seaborn

# Model Persistence
joblib